---
# script specific variables here
# http://api.spitcast.com/api/county/spots/san-diego/
surf:
  base: http://api.spitcast.com/api/
  water_temp_endpoint: county/water-temperature/
  tide_endpoint: county/tide/
  spot_forecast_endpoint: spot/forecast/
  spot_id: 234
  county: san-diego

weather:
  base: http://api.openweathermap.org/data/2.5/weather?
  zipcode: 92024,US
  apikey: your-api-key-here
