snippet post "Create a new blog post"
---
layout: post
title:  ${1: New Blog Post}
date:   ${2:`date +%Y-%m-%d`}
categories: $3
---
$0
endsnippet

snippet ol "Create ordered list"
1. $1
2. $2
3. $3
$0
endsnippet

snippet ul "Create un-ordered list"
- $1
- $2
- $3
$0
endsnippet
