[Unit]
Description=Calcurse Meeting Notification Script

[Service]
ExecStart=/home/mcritchlow/.bin/calcurse-notify

[Install]
WantedBy=default.target
