[Unit]
Description=Calcurse Meeting Notification Script
After=graphical.target

[Service]
ExecStart=/home/mcritchlow/.rbenv/shims/ruby /home/mcritchlow/.local/bin/calcurse-notify

[Install]
WantedBy=default.target
