[Unit]
Description=Run calcurse meetings check on XX:30 each hour

[Timer]
OnCalendar=*-*-* *:30:00
Persistent=true

[Install]
WantedBy=timers.target
