[Unit]
Description=FlatPak Updates Notification
After=graphical.target

[Service]
ExecStart=/usr/bin/flatpak remote-ls --updates | awk '{ if(length($1)==0) { print "None"} else { print $1 } }' | xargs notify-send --app-name="Flatpak Updates"

[Install]
WantedBy=default.target
