[Unit]
Description=Firmware Update (LVFS) synchronization timer

[Timer]
OnCalendar=monthly
RandomizedDelaySec=5m
Persistent=true
Unit=fwupd-refresh.service

[Install]
WantedBy=timers.target
