[Unit]
Description=rbenv update repos service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/mcritchlow/.local/bin/rbenv-update-repos
Environment="RBENV_ROOT=/home/mcritchlow/projects/personal/rbenv"
