[Unit]
Description=Timer to update rbenv and plugins

[Timer]
OnCalendar=weekly
Persistent=true
Unit=rbenv-update-repos.service

[Install]
WantedBy=timers.target
